{% extends 'base/socioproductivo.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
          Electrodomesticos vivienda
          <a href="{% url 'socioproductivo:gradoact_new' %}" class="btn btn-sm btn-light text-success" role="button"><i class="me-2" data-feather="plus-circle"></i>Agregar</a>
      </div>
      <div class="card mb-4">
      <div class="card-body">
          {% if not obj %}
          <div class="alert alert-info">No hay datos</div>
          {% else %}
          <table id="datatablesSimple">
              <thead>
                  <th>Id</th>
                  <th>Electrodomestico</th>
                  <th>Estado</th>
              </thead>
              <tbody>
                  {% for item in obj %}
                  <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.elect }}</td>
                      <td>
                          <a href="{% url 'socioproductivo:electviv_edit' item.id %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2" role="button"><i data-feather="edit"></i></a>
                          <a href="{% url 'socioproductivo:electviv_del' item.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" role="button"><i data-feather="trash-2"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
    </div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
