{% extends 'base/socioproductivo.html' %}

{% block page_content %}
{% load crispy_forms_tags %}
<div id="layoutSidenav_content">
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-6 col-md-6 mb-6">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nuevo {% endif %} registro de formación laboral
                        </div>
                        <div class="dropdown-divider"></div>

                        <div class="row">
                          <label for="persona_formacion">Participante</label>
                          <select name="persona_formacion" id="persona_formacion" class="form-control" {%if id_participante %}disabled{% endif %}>
                              <option value selected>---------</option>
                              {%if participantes %}
                                {%for p in participantes %}
                                  {%if id_participante == p.id%}
                                      <option value="{{p.id}}" selected>{{ p.nombresp }}</option>
                                  {%else%}
                                  <option value="{{p.id}}">{{ p.nombresp }}</option>

                                  {%endif%}

                                {%endfor%}
                              {%endif%}
                          </select>
                            {{ form | crispy }}
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <a href="{% url 'socioproductivo:part_formlab' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
{% block js_page %}
{% endblock %}
