{% extends 'base/socioproductivo.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
          Participantes de formación laboral
      </div>
      <div class="card mb-4">
      <div class="card-body">
          {% if not obj %}
          <div class="alert alert-info">No hay datos</div>
          {% else %}
          <table id="datatablesSimple">
              <thead>
                  <th>Id</th>
                  <th>Participante</th>
                  <th>Estado</th>
              </thead>
              <tbody>
                    {% for item in obj %}
                  <tr>
                      <td>{{ item.persona_formacion }}</td>
                      {% if item.estado_formacion is True %}
                      <td>
                        <span class="badge bg-green-soft text-green">Activo</span>
                      </td>
                      {% else %}
                      <td>
                        <span class="badge bg-red-soft text-red">Inactivo</span>
                      </td>
                      {% endif %}
                      <td>
                          <a href="#" class="btn btn-datatable btn-icon btn-transparent-dark me-2" role="button"><i data-feather="edit"></i></a>
                          <a href="#" class="btn btn-datatable btn-icon btn-transparent-dark" role="button"><i data-feather="trash-2"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
    </div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
