{% extends 'base/socioproductivo.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
            <h2>Participantes con certificado de talleres</h2>
        </div>
        <div class="card-body">
            {% if not participantes_certificados %}
            <div class="alert alert-info">No hay datos</div>
            {% else %}
            <table id="datatablesSimple">
                <thead>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>CUI</th>
                    <th>Estado</th>
                    <th>Agregar emprendimiento</th>
                </thead>
                <tbody>
                    {% for item in part_emp %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.part_emp.nombresp }} {{ item.part_emp.apellidos }}</td>
                        <td>{{ item.part_emp.DPIP }}</td>

                        {% if item.part_emp.estado_persona_basica is True %}
                        <td>
                          <span class="badge bg-green-soft text-green">Activo</span>
                        </td>
                        {% else %}
                        <td>
                          <span class="badge bg-red-soft text-red">Inactivo</span>
                        </td>
                        {% endif %}
                        <td>
                          <a href="{% url 'socioproductivo:emp_new' item.id %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2" role="button"><i data-feather="plus-circle"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock %}
