{% extends 'base/socioproductivo.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
          Detalle del alumno
      </div>
      <div class="card-body">
            <div class="row">
                  <div class="col-lg-6 col-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                          <h2 class="text-primary">Datos del alumno</h2>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top" src="{{item.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                        <div class="card-body">
                            <div class="card-header">
                                {{ item.nombresp }} {{ item.apellidos }}
                            </div>
                          <label><b>ID: </b>{{ item.id }}</label>
                          <br/>
                          <label><b>Fecha de nacimiento: </b>{{ item.fecha_nacimiento|date:"d M, Y" }}</label>
                          <label><b>No. CUI: </b>{{ item.DPIP }}</label>
                          <label><b>direcciòn: </b>{{ item.direccion }}</label>
                          <label><b>No. Telefono: </b>{{ item.tel_cel }}</label>
                          <label><b>No. Telefono de casa: </b>{{ item.tel_casa }}</label>
                          <label><b>Correo Electrónico: </b>{{ item.tel_casa }}</label>
                          <label><b>Cantidad de convivientes: </b>{{ item.cantidad_convivientes }}</label>
                          <label><b>Con quien vive: </b>{{ item.conquien_vive }}</label>
                          <label><b>Ingreso total: Q.</b>{{ item.ingreso_total }}</label>
                          <label><b>Total de gastos: Q.</b>{{ item.total_gastos }}</label>
                          <label><b>Edad</b>{{ item.edad }}</label>
                          <label><b>Etnia: </b>{{ item.etnia }}</label>
                          <label><b>Municipio: </b>{{ item.municipio }}</label>
                          <label><b>Gènero: </b>{{ item.genero }}</label>
                          <label><b>Encargado: </b>{{ item.tutor_socio }}</label>
                          <div class="text-lg fw-bold">
                            {% if item.estado_persona_basica is True %}
                              <span class="badge bg-green-soft text-green">Activo </span>
                            {% else %}
                              <span class="badge bg-red-soft text-red">Inactivo</span>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>

                  {%if tutor_socio %}

                    <div class="col-lg-6 col-xl-4 mb-4">
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-primary">Encargado</h2>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                              <div class="card-header">
                                  {{ tutor_socio.nombres_encar }} {{ tutor_socio.apellidos_encar }}
                              </div>
                            <label><b>ID: </b>{{ tutor_socio.id }}</label>
                            <br/>
                            <label><b>Parentesco con el alumno: </b>{{ tutor_socio.parentesco }}</label>
                            <label><b>Fecha de nacimiento: </b>{{ tutor_socio.fecha_nacimientoE |date:"d M, Y" }}</label>
                            <label><b>Ocupación: </b>{{ tutor_socio.octutor }}</label>
                            <label><b>No. Telefono: </b>{{ tutor_socio.TelefonoE }}</label>

                            <div class="text-lg fw-bold">
                              {% if tutor.estado_Encargado is True %}
                                <span class="badge bg-green-soft text-green">Activo </span>
                              {% else %}
                                <span class="badge bg-red-soft text-red">Inactivo</span>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>


                    {%endif%}

                    {%if info_educacion %}

                    <div class="col-lg-6 col-xl-4 mb-4">
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-primary">Información de educación</h2>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                              <div class="card-header">
                                  {{ info_educacion.nombre_establecimiento }}
                              </div>
                            <label><b>ID: </b>{{ nombre_establecimiento.id }}</label>
                            <br/>
                            <label><b>Establecimiento: </b>{{ info_educacion.direccion_establecimiento }}</label>
                            <label><b>Jornada de estudios: </b>{{ info_educacion.jornada_estudio }}</label>
                            <label><b>Maestro: </b>{{ info_educacion.nombre_maestro }}</label>
                            <label><b>Telefono maestro: </b>{{ info_educacion.tel_maestro }}</label>

                            <div class="text-lg fw-bold">
                              {% if estado_info_educacion is True %}
                                <span class="badge bg-green-soft text-green">Activo</span>
                              {% else %}
                                <span class="badge bg-red-soft text-red">Inactivo</span>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>


                    {%endif%}

                    {%if caract_laborales %}

                    <div class="col-lg-6 col-xl-4 mb-4">
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-primary">Aspectos Laborales</h2>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <label>
                              {% if caract_laborales.ha_trabajado is True %}
                              <span class="badge bg-green-soft text-green">Si ha trabajado</span>
                              {% else %}
                              <span class="badge bg-red-soft text-red">No ha trabajado</span>
                              {% endif %}
                            </label>
                            <label><b>Razón: </b>{{ caract_laborales.razon_t }}</label>
                            <div class="text-lg fw-bold">
                            {% if relig.estado_claborales  is True %}
                                <span class="badge bg-green-soft text-green">Activo </span>
                            {% else %}
                                <span class="badge bg-red-soft text-red">Inactivo</span>
                            {% endif %}
                            </div>
                            <br/>
                          </div>
                        </div>
                      </div>


                    {%endif%}

                    {%if padres %}

                        <div class="col-lg-6 col-xl-4 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-primary">Padres del alumno</h2>
                            </div>
                            </div>
                            <div class="card">
                            <div class="card-body">
                                <label><b>ID: </b>{{ padres.id }}</label>
                                <br/>
                                <label><b>Datos de la madre</b></label>
                                <label><b>Nombre de la madre: </b>{{ padres.nombre_madre  }}</label>
                                <label><b>No. Telefono: </b>{{ padres.telefono_madre  }}</label>
                                <label><b>Ocupación: </b>{{ padres.ocupacion_madre  }}</label>
                                <label><b>Datos del padre</b></label>
                                <label><b>Nombre del padre: </b>{{ padres.nombre_madre  }}</label>
                                <label><b>No. Telefono: </b>{{ padres.telefono_padre  }}</label>
                                <label><b>Ocupación: </b>{{ padres.ocupacion_padre  }}</label>
                                <div class="text-lg fw-bold">
                                {% if padres.estado_padres  is True %}
                                    <span class="badge bg-green-soft text-green">Activo </span>
                                {% else %}
                                    <span class="badge bg-red-soft text-red">Inactivo</span>
                                {% endif %}
                                </div>
                            </div>
                            </div>
                        </div>
                    {%endif%}

                    {%if viv%}

                        <div class="col-lg-6 col-xl-4 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-primary">Vivienda</h2>
                            </div>
                            </div>
                            <div class="card">
                            <div class="card-body">
                                <label>
                                    <b>Número de habitantes:</b>{{ viv.numero_habitantes }}
                                </label>
                                <br/>
                                <label><b>ID: </b>{{ viv.id }}</label>
                                <br/>
                                <label><b>Telefono: </b>{{ viv.Telefono  }}</label>
                                <label><b>Vivienda: </b>{{ viv.tipovivienda  }}</label>
                                <label><b>Techo: </b>{{ viv.tipotecho  }}</label>
                                <label><b>Piso: </b>{{ viv.tipopiso  }}</label>
                                <label><b>Pared: </b>{{ viv.tipomuro  }}</label>
                                <div class="text-lg fw-bold">
                                    {% if viv.agua_potable%}
                                        <span class="badge bg-green-soft text-green">Con agua potable</span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Sin agua potable</span>
                                    {% endif %}
                                </div>
                                <div class="text-lg fw-bold">
                                    {% if viv.energia_electrica%}
                                        <span class="badge bg-green-soft text-green">Con energía electrica </span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Sin energía electrica</span>
                                    {% endif %}
                                </div>
                                <div class="text-lg fw-bold">
                                    {% if viv.dreaje %}
                                        <span class="badge bg-green-soft text-green">Con servicio de drenaje</span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Sin servicio de drenaje</span>
                                    {% endif %}
                                </div>
                                <label><b>Vivienda de nivel economico: </b></label>
                                  {% if viv.nivel_Eco_Alto is True %}
                                    <span class="badge bg-green-soft text-green">Alto</span>
                                  {% elif viv.nivel_Eco_medio is True %}
                                    <span class="badge bg-green-soft text-green">Medio</span>
                                  {% elif viv.nivel_Eco_bajo is True %}
                                      <span class="badge bg-green-soft text-green">Bajo</span>
                                  {% endif %}
                                  <br/>
                                <label><b>El alumno se considera: </b></label>
                                  {% if viv.no_pobre is True %}
                                    <span class="badge bg-green-soft text-green">No pobre</span>
                                  {% elif viv.pobre is True %}
                                    <span class="badge bg-green-soft text-green">Pobre</span>
                                  {% elif viv.Extemadamente_pobre is True %}
                                      <span class="badge bg-green-soft text-green">Extremadamente pobre</span>
                                  {% endif %}

                                <div class="text-lg fw-bold">
                                    {% if viv.estado_vivsocio%}
                                        <span class="badge bg-green-soft text-green">activo </span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Inactivo</span>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                        </div>

                  </div>
                    {%endif%}
      </div>
<div>
      <div class="card card-header-actions">
        <div class="card-header">
            Electrodomesticos
        </div>
        <div class="card mb-4">
        <div class="card-body">
            {% if not electrodomesticos_vivienda %}
            <div class="alert alert-info">No hay datos</div>
            {% else %}
            <table id="datatablesSimple">
                <thead>
                    <th>Id</th>
                    <th>Electrodomestico</th>
                </thead>
                <tbody>
                    {% for item in electrodomesticos_vivienda %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.elect }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
      </div>
      </div>

      <div class="card card-header-actions">
        <div class="card-header">
            Información económica
        </div>

        <div class="card mb-4">
        <div class="card-body">
            {% if not info_eco  %}
            <div class="alert alert-info">No hay datos</div>
            {% else %}
            <table class="table table-bordered">
                <thead>
                    <th>Id</th>
                    <th>Pariente</th>
                    <th>Cantidad mensual</th>
                    <th>Procedencia de ingreso</th>
                    <th>Observaciones</th>
                    <th>Estado</th>
                </thead>
                <tbody>
                    {% for item in info_eco %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.pariente }}</td>
                        <td>Q. {{ item.cantidad_mensual }}</td>
                        <td>{{ item.procedencia_ingreso }}</td>
                        <td>{{ item.observacion }}</td>
                        {% if item.estado_infoeco is True %}
                          <td><span class="badge bg-green-soft text-green">Activo</span></td>
                        {% else %}
                          <td><span class="badge bg-red-soft text-red">Inactivo</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>


        <div class="card card-header-actions">
          <div class="card-header">
              Información de gastos familiares
          </div>

          <div class="card mb-4">
          <div class="card-body">
              {% if not gasto_familiar  %}
              <div class="alert alert-info">No hay datos</div>
              {% else %}
              <table class="table table-bordered">
                  <thead>
                      <th>Id</th>
                      <th>Servicio</th>
                      <th>Cantidad mensual</th>
                      <th>Estado</th>
                  </thead>
                  <tbody>
                      {% for item in gasto_familiar %}
                      <tr>
                          <td>{{ item.id }}</td>
                          <td>{{ item.servicio }}</td>
                          <td>Q. {{ item.cantidad_servicio }}</td>
                          {% if item.estado_gastofamiliar is True %}
                            <td><span class="badge bg-green-soft text-green">Activo</span></td>
                          {% else %}
                            <td><span class="badge bg-red-soft text-red">Inactivo</span></td>
                          {% endif %}
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
          </div>
      </div>
      </div>
</div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });

</script>
<script >
  function eliminar(id){
  swal.fire({
    "titulo":"Esta seguro",
    "text":"esta accion no se puede deshacer",
    "icon":"question",
    "showCancelButton":true
  })
  }
</script>
{% endblock%}
