{% extends 'base/socioproductivo.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
          <h2 class="text-dark">Datos de {{ item.nombresp }} {{ item.apellidosp }}</h2>
      </div>
      <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-xl-12 mb-12">
                <div class="card">
                    <div class="card-header">
                      <h2 class="text-muted">Información personal</h2>
                    </div>
                    <div class="card-body d-flex">
                      <div class=flex-shrink-0">
                        <img class="rounded float-left" src="{{item.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <label><b>Nombre completo: </b>{{ item.nombresp }} {{ item.apellidosp }}</label>
                        <br/>
                        <label><b>Fecha de nacimiento: </b>{{ item.fecha_nacimientop |date:"d M, Y"  }}</label>
                        <br/>
                        <label><b>Edad: </b>{{ item.edad }}</label>
                        <br/>
                        <label><b>Género: </b>{{ item.genero }}</label>
                        <br/>
                        <label><b>No. CUI: </b>{{ item.DPIP }}</label>
                        <br/>
                        <label><b>Dirección domiciliar: </b>{{ item.direccionp }}</label>
                        <br/>
                        <label><b>No. Telefono: </b>{{ item.tel_celp }}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label><b>No. Telefono de casa: </b> {{ item.tel_casap }}</label>
                        <br/>
                        <label><b>Municipio y departamento de origen: </b>{{ item.municipio }}, {{ item.municipio.dep }}</label>
                        <br/>
                        <label><b>Grupo étnico: </b>{{ item.etnia }}</label>
                        <br/>
                        <label><b>Correo Electrónico: </b>{{ item.emailp }}</label>
                        <br/>
                        <label><b>Cantidad de convivientes: </b>{{ item.cantidad_convivientes }}</label>
                        <br/>
                        <label><b>Con quien vive: </b>{{ item.conquien_vive }}</label>
                        <br/>
                        <label><b>Razón de porqué vive con esa/esas personas: </b>{{ item.razon }}</label>
                        <br/>
                        <label><b>Ingreso total: Q.</b>{{ item.ingreso_total }}</label>
                        <br/>
                        <label><b>Total de gastos: Q.</b>{{ item.total_gastos }}</label>
                        <br/>
                        <label><b>Etnia: </b>{{ item.etnia }}</label>
                        <br/>
                        <label><b>Municipio: </b>{{ item.municipio }}</label>
                        <br/>
                        <label><b>Gènero: </b>{{ item.genero }}</label>
                        <br/>
                        <label class="text-lg fw-bold">
                          {% if item.estado_persona_basica is True %}
                            <span class="badge bg-green-soft text-green">Activo </span>
                          {% else %}
                            <span class="badge bg-red-soft text-red">Inactivo</span>
                          {% endif %}
                        </label>
                      </div>
                    </div>
                  </div>
                  <br/>
                  {%if tutor_socio %}
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-muted">Información del encargado</h2>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body d-flex">
                            <div class="flex-grow-1 ms-3">
                            <label><b>Nombre Completo: </b>{{ tutor_socio.nombres_encar }} {{ tutor_socio.apellidos_encar }}</label>
                            <br/>
                            <label><b>Parentesco con el participante: </b>{{ tutor_socio.parentesco }}</label>
                            <br/>
                            <label><b>Fecha de nacimiento: </b>{{ tutor_socio.fecha_nacimientoE |date:"d M, Y" }}</label>
                            <br/>
                            <label><b>Ocupación: </b>{{ tutor_socio.octutor }}</label>
                            <br/>
                            <label><b>No. Telefono: </b>{{ tutor_socio.TelefonoE }}</label>
                          </div>
                          </div>
                        </div>
                    {%endif%}


                <br/>
                    {%if info_educacion %}
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-muted">Información de educación</h2>
                          </div>
                          <div class="card-body d-flex">
                            <div class="flex-grow-1 ms-3">
                            <label><b>Nombre del establecimiento</b>{{ info_educacion.nombre_establecimiento }}</label>
                            <br/>
                            <label><b>Dirección del establecimiento: </b>{{ info_educacion.direccion_establecimiento }}</label>
                            <br/>
                            <label><b>Jornada de estudios: </b>{{ info_educacion.jornada_estudio }}</label>
                            <br/>
                            <label><b>Maestro: </b>{{ info_educacion.nombre_maestro }}</label>
                            <br/>
                            <label><b>Teléfono del maestro: </b>{{ info_educacion.tel_maestro }}</label>
                            </div>
                          </div>
                        </div>
                    {%endif%}
                    <br/>
                    {%if caract_laborales %}
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-muted">Aspectos Laborales</h2>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body d-flex">
                            <div class="flex-grow-1 ms-3">
                            <label><b>Ha trabajado: </b>
                              {% if caract_laborales.ha_trabajado is True %}
                              <label>Si ha trabajado</label>
                              {% else %}
                              <label>No ha trabajado</label>
                              {% endif %}
                            </label>
                            <br/>
                            <label><b>Razón: </b>{{ caract_laborales.razon_t }}</label>
                            <br/>
                          </div>
                          </div>
                        </div>
                    {%endif%}
                    <br/>
                    {%if padres %}


                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-muted">Padres del alumno</h2>
                            </div>
                            </div>
                            <div class="card d-flex">
                            <div class="flex-grow-1 ms-3">
                                <br/>
                                <label><b>---- Datos de la madre ----</b></label>
                                <br/>
                                <label><b>Nombre de la madre: </b>{{ padres.nombre_madre  }}</label>
                                <br/>
                                <label><b>No. Telefono: </b>{{ padres.telefono_madre  }}</label>
                                <br/>
                                <label><b>Ocupación: </b>{{ padres.ocupacion_madre  }}</label>
                                <br/>
                                <label><b>---- Datos del padre ----</b></label>
                                <br/>
                                <label><b>Nombre del padre: </b>{{ padres.nombre_madre  }}</label>
                                <br/>
                                <label><b>No. Telefono: </b>{{ padres.telefono_padre  }}</label>
                                <br/>
                                <label><b>Ocupación: </b>{{ padres.ocupacion_padre  }}</label>                            </div>
                            </div>

                    {%endif%}
                    <br/>
                    {%if viv%}


                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-muted">Vivienda</h2>
                            </div>
                            </div>
                            <div class="card">
                            <div class="card-body d-flex">
                                <div class="flex-grow-1 ms-3">
                                <label>
                                    <b>Número de habitantes:</b>{{ viv.numero_habitantes }}
                                </label>
                                <br/>
                                <label><b>Vivienda: </b>{{ viv.tipovivienda  }}</label>
                                <br/>
                                <label><b>Techo: </b>{{ viv.tipotecho  }}</label>
                                <br/>
                                <label><b>Piso: </b>{{ viv.tipopiso  }}</label>
                                <br/>
                                <label><b>Pared: </b>{{ viv.tipomuro  }}</label>
                                <br/>
                                <div class="text-lg fw-bold">
                                    {% if viv.Telefono%}
                                        <span class="badge bg-green-soft text-green">Con agua potable</span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Sin agua potable</span>
                                    {% endif %}
                                </div>
                                <div class="text-lg fw-bold">
                                    {% if viv.agua_potable%}
                                        <span class="badge bg-green-soft text-green">Con agua potable</span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Sin agua potable</span>
                                    {% endif %}
                                </div>
                                <div class="text-lg fw-bold">
                                    {% if viv.energia_electrica%}
                                        <span class="badge bg-green-soft text-green">Con energía electrica </span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Sin energía electrica</span>
                                    {% endif %}
                                </div>
                                <div class="text-lg fw-bold">
                                    {% if viv.dreaje %}
                                        <span class="badge bg-green-soft text-green">Con servicio de drenaje</span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Sin servicio de drenaje</span>
                                    {% endif %}
                                </div>
                                <label><b>Vivienda de nivel economico: </b></label>
                                  {% if viv.nivel_Eco_Alto is True %}
                                    <span class="badge bg-green-soft text-green">Alto</span>
                                  {% elif viv.nivel_Eco_medio is True %}
                                    <span class="badge bg-green-soft text-green">Medio</span>
                                  {% elif viv.nivel_Eco_bajo is True %}
                                      <span class="badge bg-green-soft text-green">Bajo</span>
                                  {% endif %}
                                  <br/>
                                <label><b>El alumno se considera: </b></label>
                                  {% if viv.no_pobre is True %}
                                    <span class="badge bg-green-soft text-green">No pobre</span>
                                  {% elif viv.pobre is True %}
                                    <span class="badge bg-green-soft text-green">Pobre</span>
                                  {% elif viv.Extemadamente_pobre is True %}
                                      <span class="badge bg-green-soft text-green">Extremadamente pobre</span>
                                  {% endif %}

                                <div class="text-lg fw-bold">
                                    {% if viv.estado_vivsocio%}
                                        <span class="badge bg-green-soft text-green">activo </span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">Inactivo</span>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                            </div>

                  </div>
                    {%endif%}
                  </div>
      </div>
<div>
      <div class="card card-header-actions">
        <div class="card-header">
            Electrodomesticos
        </div>
        <div class="card mb-4">
        <div class="card-body">
            {% if not electrodomesticos_vivienda %}
            <div class="alert alert-info">No hay datos</div>
            {% else %}
            <table id="datatablesSimple">
                <thead>
                    <th>Id</th>
                    <th>Electrodomestico</th>
                </thead>
                <tbody>
                    {% for item in electrodomesticos_vivienda %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.elect }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
      </div>
      </div>

      <div class="card card-header-actions">
        <div class="card-header">
            Información económica
        </div>

        <div class="card mb-4">
        <div class="card-body">
            {% if not info_eco  %}
            <div class="alert alert-info">No hay datos</div>
            {% else %}
            <table class="table table-bordered">
                <thead>
                    <th>Id</th>
                    <th>Pariente</th>
                    <th>Cantidad mensual</th>
                    <th>Procedencia de ingreso</th>
                    <th>Observaciones</th>
                    <th>Estado</th>
                </thead>
                <tbody>
                    {% for item in info_eco %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.pariente }}</td>
                        <td>Q. {{ item.cantidad_mensual }}</td>
                        <td>{{ item.procedencia_ingreso }}</td>
                        <td>{{ item.observacion }}</td>
                        {% if item.estado_infoeco is True %}
                          <td><span class="badge bg-green-soft text-green">Activo</span></td>
                        {% else %}
                          <td><span class="badge bg-red-soft text-red">Inactivo</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>


        <div class="card card-header-actions">
          <div class="card-header">
              Información de gastos familiares
          </div>

          <div class="card mb-4">
          <div class="card-body">
              {% if not gasto_familiar  %}
              <div class="alert alert-info">No hay datos</div>
              {% else %}
              <table class="table table-bordered">
                  <thead>
                      <th>Id</th>
                      <th>Servicio</th>
                      <th>Cantidad mensual</th>
                      <th>Estado</th>
                  </thead>
                  <tbody>
                      {% for item in gasto_familiar %}
                      <tr>
                          <td>{{ item.id }}</td>
                          <td>{{ item.servicio }}</td>
                          <td>Q. {{ item.cantidad_servicio }}</td>
                          {% if item.estado_gastofamiliar is True %}
                            <td><span class="badge bg-green-soft text-green">Activo</span></td>
                          {% else %}
                            <td><span class="badge bg-red-soft text-red">Inactivo</span></td>
                          {% endif %}
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endif %}
          </div>
      </div>
      </div>
</div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });

</script>
<script >
  function eliminar(id){
  swal.fire({
    "titulo":"Esta seguro",
    "text":"esta accion no se puede deshacer",
    "icon":"question",
    "showCancelButton":true
  })
  }
</script>
{% endblock%}
