{% extends 'EquipoMunicipal/municipalizacion.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
        {% if id_area %}
          Beneficiados de {{ id_area.nombre_area }}
          <a href="{% url 'municipalizacion:benefar_new' id_area.id %}" class="btn btn-sm btn-light text-success" role="button" align="left"><i class="me-2" data-feather="plus-circle"></i>Agregar beneficiado</a>
        {% else %}
          <h2>Beneficiados</h2>
          <a href="{% url 'municipalizacion:benefar_new'  %}" class="btn btn-sm btn-light text-success" role="button"><i class="me-2" data-feather="plus-circle"></i>Agregar</a>
        {% endif %}

        {% if id_area %}
        <form class="form-inline" method="GET">
          <select class="form-select form-select-sm" id="area" name="nombre_area">
                      {% if areas %}
                        {% for a in areas %}
                          {% if id_area.id == a.id %}
                            <option value="{{a.id}}" selected>{{a.nombre_area}}</option>
                            {% else %}
                              <option value="{{a.id}}">{{a.nombre_area}}</option>
                          {% endif %}

                        {% endfor %}
                      {% endif %}
                    </select>
                    <button type="submit" class="btn btn-sm btn-success"><i data-feather="search"></i></button>

        </form>
        {% else %}
        <form class="form-inline"  method="GET">

              <select name="nombre_area" id="nombre_area">
                {% if areas %}
                  {% for a in areas %}
                    <option value="{{a.id}}">{{a.nombre_area}}</option>
                  {% endfor %}
                {% endif %}
              </select>


                <button type="submit" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="search"></i></button>

        </form>
        {% endif %}
      </div>
      <div class="card mb-4">
      <div class="card-body">
          {% if not obj %}
          <div class="alert alert-info">No hay datos </div>
          {% else %}
          <table id="datatablesSimple">
              <thead>
                  <th>Id</th>
                  <th>Área</th>
                  <th>Programa</th>
                  <th>Particiapante</th>
                  <th>Observacion</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                  <th class="all">Acciones</th>
              </thead>
              <tbody>
                  {% for item in obj %}
                  <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.area.nombre_area }}</td>
                      <td>{{ item.programa }}</td>
                      <td>{{ item.beneficiado }}</td>
                      <td>{{ item.observacion }}</td>
                      <td>{{ item.fecha_ba }}</td>
                      {% if item.estado_ba is True %}
                      <td>
                        <span class="badge bg-green-soft text-green">Activo</span>
                      </td>
                      {% else %}
                      <td>
                        <span class="badge bg-red-soft text-red">Inactivo</span>
                      </td>
                      {% endif %}
                      <td>
                        <a href="{% url 'municipalizacion:benefar_edit' item.id %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2" role="button"><i data-feather="edit"></i></a>
                        <a href="{% url 'municipalizacion:benefar_del' item.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" role="button"><i data-feather="trash-2"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
          <div class="dropdown-divider"></div>
          <div class="row">
              <div class="col">
                  <a href="{% url 'municipalizacion:benefar_list' %}" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
              </div>
          </div>
      </div>
    </div>
    </div>
</div>

{% endblock page_content %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
