{% extends 'EquipoMunicipal/municipalizacion.html' %}


{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
          Padres de familia
          <a href="{% url 'municipalizacion:padfam_new' %}" class="btn btn-sm btn-light text-success" role="button"><i class="me-2" data-feather="plus-circle"></i>Agregar</a>
      </div>
      <div class="card mb-4">
      <div class="card-body">
          {% if not obj %}
          <div class="alert alert-info">No hay datos de Padres de familia </div>
          {% else %}
          <table id="datatablesSimple">
              <thead>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Programa en CEIPA</th>
                  <th>Estado</th>
              </thead>
              <tbody>
                  {% for item in obj %}
                  <tr>
                      <td>{{ item.id }}</td>
                      <td><a href="{% url 'municipalizacion:padfam_detail' item.id %}">{{ item.persona.persona }} {{ item.persona.apellidos_persona }}</a></td>
                      <td>{{ item.programaC }}</td>
                      {% if item.estado_padres is True %}
                      <td>
                        <span class="badge bg-green-soft text-green">Activo</span>
                      </td>
                      {% else %}
                      <td>
                        <span class="badge bg-red-soft text-red">Inactivo</span>
                      </td>
                      {% endif %}

                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
    </div>
    </div>
</div>

{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
