{% extends 'EquipoMunicipal/municipalizacion.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions d-flex bd-highlight">
      <div class="card-header">
          <h2 class="text-dark">Datos de {{ item.persona }}</h2>

      </div>
      <div class="card-body">
            <div class="row">
                  <div class="col-lg-12 col-xl-12 mb-12">
                    <div class="card">
                        <div class="card-header">
                          <h2 class="text-muted">Información personal</h2>
                        </div>
                        <div class="card-body d-flex">
                          <div class=flex-shrink-0">
                            <img class="rounded float-left" src="{{item.persona.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <label><b>Nombre completo: </b>{{ item.persona }}</label>
                            <br/>
                            <label><b>Género: </b>{{ item.persona.gen }}</label>
                            <br/>
                            <label><b>No. CUI: </b>{{ item.persona.cui_persona }}</label>
                            <br/>
                            <label><b>Dirección domiciliar: </b>{{ item.persona.direccion_persona }}</label>
                            <br/>
                            <label><b>No. Telefono: </b>{{ item.persona.telefono_Persona }}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><b>No. Telefono de casa: </b> {{ item.persona.telefonoc_per }}</label>
                            <br/>
                            <label><b>Municipio y departamento de origen: </b>{{ item.persona.muni }}, {{ item.persona.muni.dep }}</label>
                            <br/>
                            <label><b>Grupo étnico: </b>{{ item.persona.etni }}</label>
                            <br/>
                            <label><b>Idioma/s que habla: </b>
                              {% if not idioma_persona %}
                              <label>Ninguno</label>
                              {% else %}
                                {% for idioma in idioma_persona %}
                                  <label>{{ idioma.idioma.nombre_idioma }}, </label>
                                {% endfor %}
                              {% endif %}
                            </label>
                            <br/>
                            <label><b>Último grado cursado: </b>{{ item.persona.estudios_anteriores }}</label>
                            <br/>
                            <label>
                            {% if item.leer is True %}
                              <label>Sabe leer</label>
                            {% else %}
                              <label>No sabe leer</label>
                            {% endif %}
                            </label>
                            <br/>
                            <label>
                            {% if item.escribir is True %}
                              <label>Sabe escribir</label>
                            {% else %}
                              <label>No sabe escribir</label>
                            {% endif %}
                            </label>
                            <br/>
                            <label>
                              <b>Cantidad de hijos: </b> {{item.cantidad_hijos}}
                            </label>
                            <br/>
                            <label>
                            {% if item.participacionG is True %}
                              <label><b>Participa en algún grupo organizado: </b>Sí participa</label>
                              <br/>
                              <label>
                                <b>Grupo organizado: </b> {{item.grupo}}
                              </label>
                              <br/>
                              <label>
                                <b>Cargo Grupo: </b> {{item.cargo}}
                              </label>
                            {% else %}
                              <label><b>Participa en algún grupo organizado: </b>No participa</label>
                            {% endif %}
                            </label>
                            <br/>
                            <label>
                              <b>Correo electronico: </b> {{item.correo_padres}}
                            </label>
                            <br/>
                            <label>
                              <b>Programa ceipa: </b> {{item.programaC}}
                            </label>
                            <br/>
                            {% if item.vacunaCovid is True %}
                              <span class="badge bg-yellow-soft text-yellow">Vacunado contra COVID-19</span>
                            {% else %}
                              <span class="badge bg-yellow-soft text-yellow">No vacunado contra COVID-19</span>
                            {% endif %}
                            <br/>
                            <label>
                              {% if item.persona.disc is True %}
                                <span class="badge bg-purple-soft text-purple">Tiene discapacidades físicas</span>
                              {% else %}
                                <span class="badge bg-purple-soft text-purple">No tiene discapacidades físicas</span>
                              {% endif %}
                            </label>
                            <br/>
                            <label>
                              {% if item.persona.estado_persona is True %}
                                <span class="badge bg-green-soft text-green">Representante activo</span>
                              {% else %}
                                <span class="badge bg-red-soft text-red">Representante inactivo</span>
                              {% endif %}
                            </label>
                          </div>
                        </div>
                      </div>
                      <br/>

                      <!--FIN INFORMACIÓN ACADEMICA Y LABORAL-->
                      <br/>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'municipalizacion:padfam_list' %}" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
                        </div>
                    </div>


      </div>
</div>
</div>
</div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });

</script>
<script >
  function eliminar(id){
  swal.fire({
    "titulo":"Esta seguro",
    "text":"esta accion no se puede deshacer",
    "icon":"question",
    "showCancelButton":true
  })
  }
</script>
{% endblock%}
