{% extends 'directorCentro/base.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
          Grado
          <a href="{% url 'educacion:grado_new' %}" class="btn btn-sm btn-light text-success" role="button"><i class="me-2" data-feather="plus-circle"></i>Agregar</a>
      </div>
      <div class="card mb-4">
      <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">No hay Grados</div>
        {% else %}
        <table id="datatablesSimple">
            <thead>
                <th>Id</th>
                <th>Grados</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th class="all">Acciones</th>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre_grado }}</td>
                    <td>{{ item.descripcion_grado }}</td>
                    {% if item.estado_grado is True %}
                    <td>
                      <span class="badge bg-green-soft text-green">Activo</span>
                    </td>
                    {% else %}
                    <td>
                      <span class="badge bg-red-soft text-red">Inactivo</span>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
      </div>
    </div>
{% endblock page_content %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
