{% extends 'directorCentro/base.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
        <div class="card-header">
          
        <a href="{%url 'educacion:crear_maestro'%}" class="btn btn-sm btn-light text-success" role="button"><i class="me-2" data-feather="plus-circle"></i>Agregar personal educativo</a>
          
        </div>
        <div class="card-body">
            {% if not obj %}
            <div class="alert alert-info">No hay datos</div>
            {% else %}
            <table id="datatablesSimple">
                <thead>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>telefono_personal</th>
                    <th>Correo</th>
                    <th>fecha de nacimiento</th>
                    <th>Direccion</th>
                    <th>Estado</th>
                    <th class="all">ver Grados</th>
                </thead>
                <tbody>
                    {% for item in obj %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nombres }}</td>
                        <td>{{ item.apellidos }}</td>
                        <td>{{ item.telefono_personal }}</td>
                        <td>{{ item.email_personal }}</td>
                        <td>{{ item.fechaNac_personal|date:"d, M, Y" }}</td>
                        <td>{{ item.direccion_personal }}</td>
                        
                        {% if item.estado_personal is True %}
                        <td>
                          <span class="badge bg-green-soft text-green">Activo</span>
                        </td>
                        {% else %}
                        <td>
                          <span class="badge bg-red-soft text-red">Inactivo</span>
                        </td>
                        {% endif %}
                        <td>
                          <a href="{% url 'educacion:listar_cursos_del_personal_por_centro' item.id id_centro_educativo.id %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2" role="button"><i data-feather="edit"></i></a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock %}