{% extends 'maestro/base.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
          <h2 class="text-dark">Datos de {{ item.nombres_alumno }} {{ item.apellidos_alumno}}</h2>
          <div class="p-2 bd-highlight">

          </div>
      </div>
      <div class="card-body">
            <div class="row">
                  <div class="col-lg-12 col-xl-12 mb-12">
                    <!--INFORMACIÓN DEL ALUMNO-->
                    <div class="card">
                        <div class="card-header">
                          <h2 class="text-muted">Información personal del alumno</h2>
                        </div>
                        <div class="card-body d-flex">
                          <div class=flex-shrink-0">
                            <img class="rounded float-left" src="{{item.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <label><b>Nombre completo: </b>{{ item.nombres_alumno }} {{ item.apellidos_alumno }}</label>
                            <br/>
                            <label><b>Fecha de nacimiento: </b>{{ item.fecha_nacimiento|date:"d M, Y" }}</label>
                            <br/>
                            <label><b>Género: </b>{{ item.gen }}</label>
                            <br/>
                            <label><b>No. CUI: </b>{{ item.cui }}</label>
                            <br/>
                            <label><b>Codigo MINEDUC: </b>{{ item.codigo_mineduc }}</label>
                            <br/>
                            <label><b>Dirección domiciliar: </b>{{ item.direccion_alumno }}</label>
                            <br/>
                            <label><b>No. Telefono: </b>{{ item.telefono_alumno }}</label>
                            <br/>
                            <label><b>Municipio y departamento de origen: </b>{{ item.muni }}, {{ item.muni.dep }}</label>
                            <br/>
                            <label><b>Ocupaciòn: </b>{{ item.ocup }}</label>
                            <br/>
                            <label><b>Grupo étnico: </b>{{ item.etni }}</label>
                            <br/>
                            <label><b>Idioma que habla: </b>{{ item.idiome }}</label>
                            <br/>
                            <label><b>Último grado cursado: </b>{{ item.persona.estudios_anteriores }}</label>
                            <br/>
                            <label><b>Ingreso familiar: Q.</b>{{ item.ingreso_familiar }}</label>
                            <br/>
                              {%if relig%}
                              <label><b>Religión: </b>{{ relig.religion }}</label>
                              <br/>
                              <label><b>Iglesia a la que asiste: </b>{{ relig.nombre_iglesia  }}</label>
                              {% endif %}
                            <br/>
                            <label>
                              {% if item.estado_alumno is True %}
                                <span class="badge bg-green-soft text-green">Alumno activo</span>
                              {% else %}
                                <span class="badge bg-red-soft text-red">Alumno inactivo</span>
                              {% endif %}
                            </label>
                          </div>
                        </div>
                      </div>
                      <br/>
                    <!--FIN INFORMACIÓN DEL ALUMNO-->

                    <!--INFORMACIÓN DEL TUTOR-->
                    {%if tutor%}
                    <div class="card">
                        <div class="card-header">
                          <h2 class="text-muted">Información del tutor</h2>
                        </div>
                        <div class="card-body d-flex">
                          <div class=flex-shrink-0">
                            <img class="rounded float-left" src="{{tutor.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <label><b>Nombre completo: </b>  {{ tutor.nombres_tutor }} {{ tutor.apellidos_tutor }}</label>
                            <br/>
                            <label><b>Parentesco con el alumno: </b>{{ tutor.parentesco }}</label>
                            <br/>
                            <label><b>No. CUI: </b>{{ tutor.DPI_tutor }}</label>
                            <br/>
                            <label><b>Fecha de nacimiento: </b>{{ tutor.fecha_nacimiento|date:"d M, Y" }}</label>
                            <br/>
                            <label><b>Direcciòn domiciliar: </b>{{ tutor.direccion_tutor }}</label>
                            <br/>
                            <label><b>Municipio y departamento de origen: </b>{{ tutor.muni }}, {{ tutor.muni.dep }}</label>
                            <br/>
                            <label><b>Gènero: </b>{{ tutor.genero }}</label>
                            <br/>

                          </div>
                        </div>
                      </div>
                      <br/>
                      {%endif%}
                    <!--FIN INFORMACIÓN DEL TUTOR-->

                    <!--INFORMACIÓN ESTUDIOS ANTERIORES-->
                    {%if estudiosAnt%}
                    <div class="card">
                        <div class="card-header">
                          <h2 class="text-muted">Información acádemica</h2>
                        </div>
                        <div class="card-body d-flex">
                          <div class="flex-grow-1 ms-3">
                            <label><b>Grado: </b>{{ estudiosAnt.grado }}</label>
                            <br/>
                            <label><b>Telefono: </b>{{ estudiosAnt.telefono_estudios_anteriores }}</label>
                            <br/>
                            <div class="text-lg fw-bold">
                              {% if estudiosAnt.repitente is True %}
                                <span class="badge bg-green-soft text-green">Repitente</span>
                              {% else %}
                                <span class="badge bg-red-soft text-red">No repitente</span>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <br/>
                      {% endif %}
                    <!-- FIN INFORMACIÓN ESTUDIOS ANTERIORES-->
                    </div>

                    <!-- INFORMACIÓN LABORAL-->
                    {%if laboral %}
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-muted">Información laboral</h2>
                          </div>
                          <div class="card-body d-flex">
                              <div class="flex-grow-1 ms-3">
                            <label><b>Empleador: </b>{{ laboral.empleador }}</label>
                            <br/>
                            <label><b>No. Telefono: </b>{{ laboral.tel_empleador }}</label>
                            <br/>
                            <label><b>Jornada laboral </b>{{ laboral.jornada }}</label>
                            <br/>
                            <label><b>Dias de trabajo: </b>{{ laboral.dias_trabajo }}</label>
                            <br/>
                            <label><b>Hora de entrada: </b>{{ laboral.hora_entrada }}</label>
                            <br/>
                            <label><b>Hora de salida: </b>{{ laboral.hora_salida }}</label>
                            <br/>
                            <label>
                              {% if laboral.i_diario is True %}
                              <span class="badge bg-green-soft text-green">Ingreso diario</span>
                              {% elif laboral.i_semanal is True %}
                              <span class="badge bg-green-soft text-green">Ingreso semanal</span>
                              {% elif laboral.i_quincenal is True %}
                              <span class="badge bg-green-soft text-green">Ingreso quincenal</span>
                              {% elif laboral.i_mensual %}
                              <span class="badge bg-green-soft text-green">Ingreso mensual</span>
                              {% else %}
                              <span class="badge bg-red-soft text-red">Sin ingresos</span>
                              {% endif %}
                            </label>
                            <label><b>Ingresos Totales: </b>Q.{{ laboral.total_ingreso }}</label>
                            <br/>
                            <label><b>Destino de los ingresos: </b>{{ laboral.destino_ingreso }}</label>
                            <br/>
                            <label><b>Edad de inicio laboral: </b>{{ laboral.edad_inicio_trabajo }}</label>
                            <br/>

                            <br/>
                            </div>
                          </div>
                        </div>
                    {%endif%}
                    <!-- FIN INFORMACIÓN LABORAL-->

                    <!-- INFORMACIÓN PSICOLOGICA -->
                    <br/>
                    {%if psic%}
                    <div class="card">
                            <div class="card-header">
                                  <h2 class="text-muted">Información de análisis psicológico</h2>
                            </div>
                            <div class="card-body d-flex">
                                <div class="flex-grow-1 ms-3">
                                <label><b>Resultados del análisis: </b>{{ psic.Analisis_psicologico }}</label>
                                <br/>
                                <label><b>Tratamiento: </b>{{ psic.tratamiento  }}</label>
                                <br/>
                                <label><b>Fecha de realización de análisis: </b>{{ psic.fecha_Analisis|date:"d, M, Y" }}</label>
                                <br/>
                                <label><b>Entrevistador: </b>{{ psic.Entrevistador  }}</label>
                                </div>
                            </div>
                      </div>
                    {%endif%}
                    <!-- FIN INFORMACIÓN PSICOLOGICA -->
                    <br/>
                    <br/>
                    {%if viv%}
                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-muted">Información de vivienda</h2>
                            </div>
                            <div class="card-body d-flex">
                              <div class="flex-grow-1 ms-3">
                                <label><b>cantidad de convivientes: </b>{{ viv.cantidad_personas }}</label>
                                <br/>
                                <label><b>Cantidad de habitaciones: </b>{{ viv.cantidad_ambientes  }}</label>
                                <label><b>Categoria: </b>{{ viv.categoria  }}</label>
                                <br/>
                                <label><b>Tipo de techo: </b>{{ viv.techo  }}</label>
                                <br/>
                                <label><b>Tipo de piso: </b>{{ viv.piso  }}</label>
                                <br/>
                                <label><b>Tipo de pared: </b>{{ viv.muro  }}</label>
                                <br/>
                                <label><b>Servicios de agua: </b>{{ viv.servicio  }}</label>
                                <br/>
                                <div class="text-lg fw-bold">
                                    {% if viv.energia_electrica%}
                                        <span class="badge bg-green-soft text-green">Con energía electrica</span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">sin energía electrica</span>
                                    {% endif %}
                                </div>
                                <div class="text-lg fw-bold">
                                    {% if viv.servicio_sanitario%}
                                        <span class="badge bg-green-soft text-green">Con servicio sanitario </span>
                                    {% else %}
                                        <span class="badge bg-red-soft text-red">sin servicio sanitario</span>
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                            </div>


                  </div>
                    {%endif%}
      </div>
<div>
  <br/>
      <div class="card card-header-actions">
        <div class="card-header">
            Convivientes
        </div>
        <div class="card mb-4">
        <div class="card-body">
            {% if not conviv %}
            <div class="alert alert-info">No hay convivientes</div>
            {% else %}
            <table id="datatablesSimple">
                <thead>
                    <th>Id</th>
                    <th>Nombre del conviviente</th>
                    <th>fecha de nacimiento</th>
                    <th>Parentesco con el alumno</th>
                    <th>Estado</th>
                </thead>
                <tbody>
                    {% for item in conviv %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nombres_conviviente }} {{ item.apellidos_conviviente }}</td>
                        <td>{{ item.fecha_nacimiento|date:"d, M, Y"}}</td>
                        <td>{{ item.parentesco }}</td>
                        <td>
                          {% if item.estado_conviviente is True %}
                            <span class="badge bg-green-soft text-green">Activo</span>
                          {% else %}
                            <span class="badge bg-red-soft text-red">Inactivo</span>
                          {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
      </div>
      </div>
<br/>
      <div class="card card-header-actions">
        <div class="card-header">
            Padecimientos del alumno
        </div>

        <div class="card mb-4">
        <div class="card-body">
            {% if not padec %}
            <div class="alert alert-info">No tiene padecimientos</div>
            {% else %}
            <table class="table table-bordered">
                <thead>
                    <th>Id</th>
                    <th>Padecimiento</th>
                    <th>tratamiento</th>
                    <th>Estado</th>
                </thead>
                <tbody>
                    {% for item in padec %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.padecimiento }}</td>
                        <td>{{ item.tratamiento }}</td>
                        {% if item.estado_Alpadecimiento is True %}
                          <td><span class="badge bg-green-soft text-green">Activo</span></td>
                        {% else %}
                          <td><span class="badge bg-red-soft text-red">Inactivo</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
      </div>
      </div>
</div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });

</script>
<script >
  function eliminar(id){
  swal.fire({
    "titulo":"Esta seguro",
    "text":"esta accion no se puede deshacer",
    "icon":"question",
    "showCancelButton":true
  })
  }
</script>
{% endblock%}
