{% extends 'base/base3.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
        <div class="card-header">
            Alumnos
            <a href="{% url 'educacion:alumno_new' %}" class="btn btn-sm btn-light text-success" role="button"><i class="me-2" data-feather="plus-circle"></i>Agregar</a>
        </div>
        <div class="card mb-4">
      <div class="card-body">
          {% if not obj %}
          <div class="alert alert-info">No hay Alumnos</div>
          {% else %}
          <table id="datatablesSimple">
              <thead>
                  <th>Id</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>CUI</th>
                  <th>Codigo de Mineduc</th>
                  <th>fecha de nacimiento</th>
                  <th>Ingreso Familiar</th>
                  <th>Direccion</th>
                  <th>Telefono</th>
                  <th>Fotografia</th>
                  <th>Ocupacion</th>
                  <th>Tutor</th>
                  <th>Etnia</th>
                  <th>Idioma</th>
                  <th>Estudios Anteriores</th>
                  <th>Municipalidad</th>
                  <th>Genero</th>
                  <th>Estado</th>
                  <th class="all">Acciones</th>
              </thead>
              <tbody>
                  {% for item in obj %}
                  <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.nombres_alumno }}</td>
                      <td>{{ item.apellidos_alumno }}</td>
                      <td>{{ item.cui }}</td>
                      <td>{{ item.codigo_mineduc }}</td>
                      <td>{{ item.fecha_nacimiento|date:"d M, Y" }}</td>
                      <td>{{ item.ingreso_familiar }}</td>
                      <td>{{ item.direccion_alumno }}</td>
                      <td>{{ item.telefono }}</td>
                      <td>{{ item.fotografia }}</td>
                      <td>{{ item.ocup }}</td>
                      <td>{{ item.tutor }}</td>
                      <td>{{ item.etni }}</td>
                      <td>{{ item.idiome }}</td>
                      <td>{{ item.estudios_anteriores }}</td>
                      <td>{{ item.muni }}</td>
                      <td>{{ item.gen }}</td>
                      <td>{{ item.estado_alumno|yesno:"Activo,Inactivo" }}</td>
                      <td>
                          <a href="{% url 'educacion:alumno_edit' item.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                          <a href="{% url 'educacion:alumno_del' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>

{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
