{% extends 'base/base3.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
           {{alumno.nombres_alumno}} {{alumno.apellidos_alumno}}
           <a href="{%url 'educacion:alumno_list_para_etapas' %}" class="btn btn-sm btn-light text-success"></i>Regresar</a>
      </div>
      <div class="card mb-4">
      <div class="card-body">
          {% if not obj %}
          <div class="alert alert-info">No hay datos de Curso</div>
          {% else %}
          <table id="datatablesSimple">
              <thead>
                  <th>Id</th>
                  <th>Etapa</th>
                  <th>Ciclo</th>
                  <th>Estado</th>
              </thead>
              <tbody>
                  {% for item in obj %}
                  <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.c_etapa.nombre_etapa }}</td>
                      <td>{{ item.ciclo_c }}</td>
                      {% if item.estado_ce is True %}
                      <td>
                        <span class="badge bg-green-soft text-green">Activo</span>
                      </td>
                      {% else %}
                      <td>
                        <span class="badge bg-red-soft text-red">Inactivo</span>
                      </td>
                      {% endif %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
    </div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
