{% extends 'base/base3.html' %}
{#{ % block side_bar %} {% endblock side_bar % }#}
{% block page_content %}
<div id="layoutSidenav_content">
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-12 col-md-12 mb-12">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nueva {% endif %} sección
                        </div>
                        <div class="dropdown-divider"></div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1">Sección</label>
                                <input type="text" name="nombre_seccion" maxlength="50" class="form-control" required id="id_nombre_seccion"
                                    placeholder="Ingrese nueva sección" value="{% if obj %} {{ obj.nombre_seccion }} {% endif %}">
                            </div>
                        </form>
                            <div class="col-5">
                                <div class="form-group">
                                    <label for="id_estado_seccion">Estado</label>
                                    <div class="form-check">
                                      <input class="form-check-input" name="estado_seccion" class="form-control" id="id_estado_seccion" type="checkbox"  {% if obj.estado_seccion is true %} checked {% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <a href="{% url 'educacion:seccion_list' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
{% block js_page %}
{% endblock %}
