{% extends 'base/base3.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-6 col-md-6 mb-6">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nuevo {% endif %} Servicio de Agua
                        </div>
                        <div class="dropdown-divider"></div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1">Servicio de Agua</label>
                                <input class="form-control" type="text" name="servicio_agua" maxlength="50" class="form-control" required id="id_servicio_agua"
                                    placeholder="Agrege su servicio de agua" value="{% if obj %} {{ obj.servicio_agua }} {% endif %}">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1">Descripcion</label>
                                <input class="form-control" type="text" name="descripcion_servicio_agua" maxlength="100" class="form-control" required id="id_descripcion_servicio_agua"
                                    placeholder="Descripcion de Servicio" value="{% if obj %} {{ obj.descripcion_servicio_agua }} {% endif %}">
                            </div>
                        </form>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="id_estado_agua">Estado</label>
                                    <div class="form-check">
                                      <input class="form-check-input" name="estado_agua" class="form-control" id="id_estado_agua" type="checkbox"  {% if obj.estado_agua is true %} checked {% endif %}>
                                    </div>
                                </div>
                            </div>
                            <!-- {{form.as_p}} -->
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <a href="{% url 'educacion:serviagua_list' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
{% block js_page %}
{% endblock %}