{% extends 'base/base3.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
          Tutor
          <div class="dropdown no-caret">
              <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i data-feather="more-vertical"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'educacion:tutor_new' %}" ><i class="far fa-calendar-plus"></i> Nuevo</a>
              </div>
          </div>
      </div>
      <div class="card-body">
          {% if not obj %}
          <div class="alert alert-info">No hay tutores</div>
          {% else %}
          <table class="table table-striped table-hover">
              <thead>
                  <th>Tutores</th>
              </thead>
              <tbody>
                <div class="row">
                  {% for item in obj %}
                  <div class="col-lg-6 col-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                          <a class="text-primary stretched-link">{{ item.nombres_tutor }} {{ item.apellidos_tutor }}</a>
                          <div class="text-primary"><i class="fas fa-angle-right"></i></div>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top" src="{{item.foto_url|default_if_none:'ceipa/default.png'}}">
                        <div class="card-body">
                          <label><b>ID: </b>{{ item.id }}</label>
                          <br/>
                          <label><b>DPI: </b>{{ item.DPI }}</label>
                          <label><b>Codigo MINEDUC: </b>{{ item.codigo_mineduc }}</label>
                          <label><b>Fecha de nacimiento: </b>{{ item.fecha_nacimiento|date:"d M, Y" }}</label>
                          <label><b>Ingreso familiar: Q.</b>{{ item.ingreso_familiar }}</label>
                          <label><b>direcciòn: </b>{{ item.direccion_tutor }}</label>
                          <label><b>No. Telefono: </b>{{ item.telefono }}</label>
                          <label><b>Correo: </b>{{ item.correo }}</label>
                          <label><b>Etnia: </b>{{ item.etni }}</label>
                          <label><b>Municipio: </b>{{ item.muni }}</label>
                          <label><b>Gènero: </b>{{ item.genero }}</label>
                          <label><b>Parentesco con el alumno: </b>{{ item.parentesco }}</label>

                          <div class="text-lg fw-bold">
                            {% if item.estado_tutor is True %}
                              <span class="badge bg-green-soft text-green">Activo </span>
                            {% else %}
                              <span class="badge bg-red-soft text-red">Inactivo</span>
                            {% endif %}
                          </div>
                        </div>
                        <div class="card-footer">
                          <a href="{% url 'educacion:tutor_edit' item.id %}" class="btn btn-outline-yellow" role="button">Editar</a>
                          <a href="{% url 'educacion:tutor_del' item.id %}" class="btn btn-outline-red" role="button">Eliminar</a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
              </tbody>
          </table>
          {% endif %}
      </div>

{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
