{% extends 'base/base3.html' %}
{% block page_content %}

<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
            Reportes de los alumno
        </div>
      <div class="card-body">
          <div class="row">
                <div class="card">
                    <div class="card-header">
                        Cantidad de alumnos por Genero
                    </div>
                    <div class="card-body">
                        <label><b>Masculino:</b> {{Masculino}}</label>
                        <br/>
                        <label><b>Femenino:</b> {{Femenino}}</label>
                    </div>
                </div>
          </div>

      </div>
    </div>

    {% if not alumnos_por_centro_educativo%}
    <div class="alert alert-info">No hay datos de Grados</div>
    {% else %}
    <div class="row">
        <div class="card">
            <div class="card-header">
              Cantidad de alumnos por centro educativo
            </div>
          </div>
    {% for item in alumnos_por_centro_educativo %}
        <div class="card">
          <div class="card-body">
            <label><b>{{item.nombre_centro}}</b> {{item.cantidad}}</label>
            <br/>
        </div>
    {% endfor %}
  </div>
    {% endif %}
    </div>

      <!--{% if not ocupacion%}
          <div class="alert alert-info">No hay datos de Grados</div>
          {% else %}
            <div class="row">
            <div class="card-header">
                Cantidad de alumnos por ocupación
              </div>
            </div>
          {% for item in ocupacion %}
              <div class="card">
                <div class="card-body">
                  <label><b>{{item.nombre_ocupacion}}</b> {{item.cantidad}}</label>
                  <br/>
              </div>
            </div>
          {% endfor %}

          {% endif %}

        {% if not Alumnos_por_edad %}
          <div class="alert alert-info">No hay alumnos</div>
          {% else %}
          <div class="row">
            <div class="card">
                <div class="card-header">
                    <b>Cantidad de alumnos por edad
                    </b>
                </div>
            </div>
            {% for item in Alumnos_por_edad %}

                <div class="card">
                    <div class="card-body">
                    <label><b>Edad {{item.edad}}</b> {{item.cantidad}}</label>
                    <br/>
                </div>
                </div>
            {% endfor %}

        {%endif%}


{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock %}
