{% extends 'base/municipalizacion.html' %}
{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
            Reportes de medios decomunicación
        </div>
      <div class="card-body">
          <div class="row">
            <div class="card">
            <div class="card-body">
              <!--Totales-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Medios de comunicación activos</h5>
                        <p class="card-text">{{ total_medios }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Representantes de medios de comunicación vacunados contra COVID-19</h5>
                        <p class="card-text">{{ total_medios_vacunados }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              <!--Fin totales-->
              <br/>
            <!--Inicio por genero-->
            {% if not medios_por_genero %}
              <div class="alert alert-info">Representantes de medio de comunicación por género: No hay datos</div>
            {% else %}
            <caption><b>Total de representantes por género</b></caption>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Género</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for gen_medio in medios_por_genero %}
                  <tr>
                    <td>{{ gen_medio.genero }}</td>
                    <td>{{ gen_medio.medios_genero }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <!--Fin por genero-->
            <br/>
            <!--Inicio por etnia-->
            {% if not medios_por_etnia %}
              <div class="alert alert-info">Representantes de medios de comunicación por grupo étnico: No hay datos</div>
            {% else %}
            <caption><b>Total de representantes por grupo étnico</b></caption>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Étnia</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for etnia_medios in medios_por_etnia %}
                  <tr>
                    <td>{{ etnia_medios.nombre_etnia }}</td>
                    <td>{{ etnia_medios.medios_etnia }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <!--Fin por etnia-->
            <br/>
            <!--Inicio por tipo de medio-->
            {% if not por_tipo_medio %}
              <div class="alert alert-info">Medios de comunicación por tipo de distribución: No hay datos</div>
            {% else %}
            <caption><b>Total de medio por tipo de distribución</b></caption>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Tipo de distribución</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for tipo_medios in por_tipo_medio %}
                  <tr>
                    <td>{{ tipo_medios.tipo_medio }}</td>
                    <td>{{ tipo_medios.medios_tipo }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <!--Fin por tipo de medio-->
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row">
            <div class="col">
                <a href="{% url 'municipalizacion:municipalizacion' %}" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
            </div>
        </div>
          </div>
      </div>
      </div>
</div>
{% endblock %}
{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock %}
