{% extends 'base/municipalizacion.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions d-flex bd-highlight">
      <div class="card-header">
          <h2 class="text-dark">Datos de {{ item.persona }} {{ item.persona.apellidos_persona }}</h2>
        
      </div>
      <div class="card-body">
            <div class="row">
                  <div class="col-lg-12 col-xl-12 mb-12">
                    <div class="card">
                        <div class="card-header">
                          <h2 class="text-muted">Información personal</h2>
                        </div>
                        <div class="card-body d-flex">
                          <div class=flex-shrink-0">
                            <img class="rounded float-left" src="{{item.persona.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <label><b>Nombre completo: </b>{{ item.persona }} {{ item.persona.apellidos_persona }}</label>
                            <br/>
                            <label><b>Fecha de nacimiento: </b>{{ item.fecha_nacimiento_benef }}</label>
                            <br/>
                            <label><b>Género: </b>{{ item.persona.gen }}</label>
                            <br/>
                            <label><b>No. CUI: </b>{{ item.persona.cui }}</label>
                            <br/>
                            <label><b>Dirección domiciliar: </b>{{ item.persona.direccion_persona }}</label>
                            <br/>
                            <label><b>No. Telefono: </b>{{ item.persona.telefono }}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><b>No. Telefono de casa: </b> {{ item.persona.telefonoc }}</label>
                            <br/>
                            <label><b>Municipio y departamento de origen: </b>{{ item.persona.muni }}, {{ item.persona.muni.dep }}</label>
                            <br/>
                            <label><b>Grupo étnico: </b>{{ item.persona.etni }}</label>
                            <br/>
                            <label><b>Idioma/s que habla: </b>
                              {% if not idioma_persona %}
                              <label>Ninguno</label>
                              {% else %}
                                {% for idioma in idioma_persona %}
                                  <label>{{ idioma.idioma.nombre_idioma }}, </label>
                                {% endfor %}
                              {% endif %}
                            </label>
                            <br/>
                            <label>
                              {% if item.persona.disc is True %}
                                <span class="badge bg-purple-soft text-purple">Tiene discapacidades físicas</span>
                              {% else %}
                                <span class="badge bg-purple-soft text-purple">No tiene discapacidades físicas</span>
                              {% endif %}
                            </label>
                            <br/>
                            <label>
                              {% if item.persona.estado_persona is True %}
                                <span class="badge bg-green-soft text-green">Participante activo</span>
                              {% else %}
                                <span class="badge bg-red-soft text-red">Participante inactivo</span>
                              {% endif %}
                            </label>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <!--INFORMACIÓN ACADEMICA Y LABORAL-->
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-muted">Información académica y laboral</h2>
                          </div>
                          <div class="card-body d-flex">
                            <div class="flex-grow-1 ms-3">
                              <label><b>Ocupación: </b>{{ item.ocup }}</label>
                              <br/>
                              <label><b>Establecimiento en el que estudia: </b>{{ item.establecimiento }}</label>
                              <br/>
                              <label><b>Tipo de establecimiento: </b>
                                {% if item.establecimiento_privado is True %}
                                  <label> Privado</label>
                                {% else %}
                                  <label> Público</label>
                                {% endif %}
                              </label>
                              <br/>
                              <label><b>Último grado cursado: </b>{{ item.persona.estudios_anteriores }}</label>
                              <br/>
                            <label><b>Nivel educativo: </b></label>
                              <label>
                                {% if item.nivel_primario is True %}
                                  <label>Primario</label>
                                {% elif item.nivel_secundario %}
                                  <label>Secundario</label>
                                {% elif item.nivel_universitario %}
                                  <label>Universitario</label>
                                {% else %}
                                  <label>No tiene</label>
                                {% endif %}
                              </label>
                            </div>
                          </div>
                        </div>
                      <!--FIN INFORMACIÓN ACADEMICA Y LABORAL-->
                      <br/>
                      <!--INFORMACIÓN DEL TUTOR-->
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-muted">Información del encargado</h2>
                          </div>
                          <div class="card-body d-flex">
                            <div class=flex-shrink-0">
                              <img class="rounded float-left" src="{{item.tutor.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <label><b>Nombre completo: </b>{{ item.tutor.nombres_tutor }} {{ item.tutor.apellidos_tutor }}</label>
                              <br/>
                              <label><b>Parentesco con el participante: </b>{{ item.tutor.parentesco}}</label>
                              <br/>
                              <label><b>No. CUI: </b>{{ item.tutor.DPI }}</label>
                              <br/>
                              <label><b>Fecha de nacimiento: </b>{{ item.tutor.fecha_nacimiento }}</label>
                              <br/>
                              <label><b>Dirección domiciliar: </b>{{ item.tutor.direccion_tutor }}</label>
                              <br/>
                              <label><b>No. Teléfono: </b>{{ item.tutor.telefono }}</label>
                            </div>
                          </div>
                        </div>
                      <!--FIN INFORMACIÓN DEL TUTOR-->
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'municipalizacion:ben_list' %}" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
                        </div>
                    </div>


      </div>
</div>
</div>
</div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });

</script>
<script >
  function eliminar(id){
  swal.fire({
    "titulo":"Esta seguro",
    "text":"esta accion no se puede deshacer",
    "icon":"question",
    "showCancelButton":true
  })
  }
</script>
{% endblock%}
