{% extends 'base/municipalizacion.html' %}

{% block page_content %}
{% load crispy_forms_tags %}
<div id="layoutSidenav_content">
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-12 col-md-12 mb-12">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                          <div class="col-12 col-md-12 offset-md-12">
                            <h4> Editar Participante </h4>
                          </div>
                    </div>
                </div>
                <!--Wizzard-->
                        <div class="card">
                          <div class="card-header border-bottom">
                            <div class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard" id="cardTab" role="tablist">
                              <!--Wizard item 1-->
                              <a class="nav-item nav-link active" id="wizard1-tab" href="#wizard1" data-bs-toggle="tab" role="tab" aria-controls="wizard1" aria-selected="true">
                                <div class="wizard-step-icon">1</div>
                                <div class="wizard-step-text">
                                  <div class="wizard-step-text-name">Persona</div>
                                  <div class="wizard-step-text-details">Infomaciòn general</div>
                                </div>
                              </a>
                              <!--Wizard item 2-->
                              <a class="nav-item nav-link" id="wizard2-tab" href="#wizard2" data-bs-toggle="tab" role="tab" aria-controls="wizard2" aria-selected="true">
                                <div class="wizard-step-icon">2</div>
                                <div class="wizard-step-text">
                                  <div class="wizard-step-text-name">Participante</div>
                                  <div class="wizard-step-text-details">Informaciòn del participante</div>
                                </div>
                              </a>
                              <!--Wizard item 3-->
                              <a class="nav-item nav-link" id="wizard3-tab" href="#wizard3" data-bs-toggle="tab" role="tab" aria-controls="wizard3" aria-selected="true">
                                <div class="wizard-step-icon">3</div>
                                <div class="wizard-step-text">
                                  <div class="wizard-step-text-name">Idioma</div>
                                  <div class="wizard-step-text-details">Informaciòn de idioma</div>
                                </div>
                              </a>
                              <!--Wizard item 4-->
                              <a class="nav-item nav-link" id="wizard4-tab" href="#wizard4" data-bs-toggle="tab" role="tab" aria-controls="wizard3" aria-selected="true">
                                <div class="wizard-step-icon">4</div>
                                <div class="wizard-step-text">
                                  <div class="wizard-step-text-name">Tutor</div>
                                  <div class="wizard-step-text-details">Informaciòn de tutor</div>
                                </div>
                              </a>
                            <!--Wizard Body-->
                                <div class="tab-content" id="cardTabContent">
                                  <div class="tab-pane py-5 py-xl-10 fade show active" id="wizard1" role="tabpanel" aria-labelledby="wizard1-tab">
                                    <div class="row justify-content-center">
                                      <div class="col-xxl-6 col-xl-8">
                                        <h3 class="text-primary">Paso 1</h3>
                                        <h5 class="card-title mb-4">Ingrese la informaciòn personal del Personal </h5>
                                        <!--Inicio Formulario-->
                                        <div class="row gx-12">
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-6">
                                                {{ form.persona | as_crispy_field }}
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                {{ form.apellidos_persona | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-12">
                                              {{ form2.fecha_nacimiento_benef | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-12">
                                                {{ form.cui_persona | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-12">
                                                {{ form.direccion_persona | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-6">
                                                {{ form.telefono_Persona | as_crispy_field }}
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                {{ form.telefonoc_per | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-12">
                                                {{ form.fotografia_persona | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-6">
                                                {{ form.muni | as_crispy_field }}
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                {{ form.etni | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-12">
                                                {{ form.estudios_anteriores | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-12">
                                                {{ form.gen | as_crispy_field }}
                                            </div>
                                          </div>
                                          <div class="row gx-3">
                                            <div class="mb-3 col-md-6">
                                                {{ form.disc | as_crispy_field }}
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                {{ form.estado_persona | as_crispy_field }}
                                            </div>
                                          </div>
                                          <hr class="my-4"/>

                                        <!--Fin Formulario-->
                                      </div>
                                      </div>
                                    </div>
                                  </div>

                                  <!--Tab item 2-->
                                  <div class="tab-pane py-5 py-xl-10 fade" id="wizard2" role="tabpanel" aria-labelledby="wizard2-tab">
                                    <div class="row justify-content-center">
                                      <div class="col-xxl-6 col-xl-8">
                                        <h3 class="text-primary">Paso 2</h3>
                                        <h5 class="card-title mb-4">Ingrese informaciòn del Beneficiado</h5>
                                          <div class="row gx-6">
                                            <div class="row gx-3">
                                              {{ form2.ocup | as_crispy_field }}
                                            </div>
                                            <div class="row gx-3">
                                              {{ form2.establecimiento | as_crispy_field }}
                                            </div>
                                            <div class="row gx-3">
                                              <h4>Estudia en un establecimiento: </h4>
                                              {{ form2.establecimiento_privado | as_crispy_field }}
                                            </div>
                                            <div class="row gx-3">
                                              {{ form2.establecimiento_publico | as_crispy_field }}
                                            </div>
                                            <div class="row gx-3">
                                                <h4>Nivel educativo: </h4>
                                              {{ form2.nivel_primario | as_crispy_field }}
                                            </div>
                                            <div class="row gx-3">
                                              {{ form2.nivel_secundario | as_crispy_field }}
                                            </div>
                                            <div class="row gx-3">
                                              {{ form2.nivel_universitario | as_crispy_field }}
                                            </div>
                                          <div class="row gx-3">
                                              {{ form2.estado_beneficiado | as_crispy_field }}
                                          </div>
                                          <hr class="my-4"/>

                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  <!--Tab item 3-->
                                  <div class="tab-pane py-5 py-xl-10 fade" id="wizard3" role="tabpanel" aria-labelledby="wizard3-tab">
                                    <div class="row justify-content-center">
                                      <div class="col-xxl-6 col-xl-8">
                                        <h3 class="text-primary">Paso 3</h3>
                                        <h5 class="card-title mb-4">Ingrese idiomas</h5>
                                            <div class="row gx-3">
                                              {{form3.management_form}}
                                              {%for f in form3 %}
                                                <div id="formularios_idiomas" class="row">
                                                    {{ f | crispy }}
                                                </div>
                                                <br/>
                                                <br/>
                                              {% endfor %}
                                              </div>
                                              <br/>
                                              
                                          <hr class="my-4"/>

                                        </div>
                                      </div>
                                    </div>
                                    <!--Tab item 4-->
                                    <div class="tab-pane py-5 py-xl-10 fade" id="wizard4" role="tabpanel" aria-labelledby="wizard4-tab">
                                      <div class="row justify-content-center">
                                        <div class="col-xxl-6 col-xl-8">
                                          <h3 class="text-primary">Paso 3</h3>
                                          <h5 class="card-title mb-4">Ingrese información tutor</h5>
                                              <div class="row gx-3">
                                                  {{ form4 | crispy }}
                                                </div>
                                            <hr class="my-4"/>
                                            <div class="d-flex justify-content-between">
                                              <button class="btn btn-ligth" type="button">Anterior</button>
                                              <a class="btn btn-ligth" href="{% url 'municipalizacion:ben_list' %}">Cancelar</a>
                                              <button type="submit" class="btn btn-success"">Guardar</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    <!--Tab fin -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
{% block js_page %}
<script>
    function agregar_form(){
      const $total_forms = document.getElementById('id_form-TOTAL_FORMS')

      let $label_idioma = document.createElement('label')
      $label_idioma.innerHTML = 'Idioma'
      let $input_idioma = document.querySelector('#id_form-0-idioma').cloneNode(true)
      $input_idioma.name = 'form-'+$total_forms.value+'-idioma'
      $input_idioma.id = 'id_form-'+$total_forms.value+'-idioma'

      let $label_estado_idper = document.createElement('label')
      $label_estado_idper.innerHTML = 'Activo/Inactivo'
      let $input_estado_idper = document.querySelector('#id_form-0-estado_ip').cloneNode(true)
      $input_estado_idper.name = 'form-'+$total_forms.value+'-estado_ip'
      $input_estado_idper.id = 'id_form-'+$total_forms.value+'-estado_ip'

      document.getElementById('formularios_idiomas').appendChild($label_idioma)
      document.getElementById('formularios_idiomas').appendChild($input_idioma)
      document.getElementById('formularios_idiomas').appendChild($label_estado_idper)
      document.getElementById('formularios_idiomas').appendChild($input_estado_idper)

      $total_forms.value = parseInt($total_forms.value) + 1
    }
</script>
{% endblock %}
