{% extends 'base/municipalizacion.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
        Listado general de participantes
      </div>
      <div class="card mb-4">
      <div class="card-body">
          {% if not obj %}
          <div class="alert alert-info">No hay datos</div>
          {% else %}
          <table id="datatablesSimple">
              <thead>
                  <th>Id</th>
                  <th>Área</th>
                  <th>Programa</th>
                  <th>Participante</th>
                  <th>Municipio</th>
                  <th>Observacion</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                  <th class="all">Acciones</th>
              </thead>
              <tbody>
                  {% for item in obj %}
                  <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.area.nombre_area }}</td>
                      <td>{{ item.programa }}</td>
                      <td>{{ item.beneficiado }}</td>
                      <td>{{ item.beneficiado.persona.muni }}</td>
                      <td>{{ item.observacion }}</td>
                      <td>{{ item.fecha_ba }}</td>
                      {% if item.estado_ba is True %}
                      <td>
                        <span class="badge bg-green-soft text-green">Activo</span>
                      </td>
                      {% else %}
                      <td>
                        <span class="badge bg-red-soft text-red">Inactivo</span>
                      </td>
                      {% endif %}
                      <td>
                        <a href="{% url 'municipalizacion:benefar_edit' item.id %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2" role="button"><i data-feather="edit"></i></a>
                        <a href="{% url 'municipalizacion:benefar_del' item.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" role="button"><i data-feather="trash-2"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
          <div class="dropdown-divider"></div>
          <div class="row">
              <div class="col">
                  <a href="{% url 'municipalizacion:benefar_list' %}" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
              </div>
          </div>
      </div>
    </div>
    </div>
</div>

{% endblock page_content %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock%}
