{% extends 'base/municipalizacion.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions d-flex bd-highlight">
      <div class="card-header">
          <h2 class="text-dark">Datos de {{ item.persona }} {{ item.persona.apellidos_persona }}</h2>
          <div class="p-2 bd-highlight">
            <a href="#" class="btn btn-sm btn-light text-primary" role="button"><i class="me-2" data-feather="printer"></i>PDF</a>
          </div>
      </div>
      <div class="card-body">
            <div class="row">
                  <div class="col-lg-12 col-xl-12 mb-12">
                    <div class="card">
                        <div class="card-header">
                          <h2 class="text-muted">Información personal</h2>
                        </div>
                        <div class="card-body d-flex">
                          <div class=flex-shrink-0">
                            <img class="rounded float-left" src="{{item.persona.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <label><b>Nombre completo: </b>{{ item.persona }} {{ item.persona.apellidos_persona }}</label>
                            <br/>
                            <label><b>Género: </b>{{ item.persona.gen }}</label>
                            <br/>
                            <label><b>No. CUI: </b>{{ item.persona.cui }}</label>
                            <br/>
                            <label><b>Dirección domiciliar: </b>{{ item.persona.direccion_persona }}</label>
                            <br/>
                            <label><b>No. Telefono: </b>{{ item.persona.telefono }}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><b>No. Telefono de casa: </b> {{ item.persona.telefonoc }}</label>
                            <br/>
                            <label><b>Municipio y departamento de origen: </b>{{ item.persona.muni }}, {{ item.persona.muni.dep }}</label>
                            <br/>
                            <label><b>Grupo étnico: </b>{{ item.persona.etni }}</label>
                            <br/>
                            <label><b>Idioma/s que habla: </b>
                              {% if not idioma_lider %}
                              <label>Ninguno</label>
                              {% else %}
                                {% for idioma in idioma_lider %}
                                  <label>{{ idioma.idioma.nombre_idioma }}, </label>
                                {% endfor %}
                              {% endif %}
                            </label>
                            <br/>
                              {% if item.leer is True and item.escribir is True %}
                              <label>Sabe leer y escribir</label>
                              {% elif item.leer is True and item.escribir is False %}
                              <label>Sabe leer, no sabe escribir</label>
                              {% elif item.escribir is True and item.leer is False %}
                              <label>Sabe escribir, no sabe leer</label>
                              {% else %}
                              <label>No sabe leer, no sabe escribir</label>
                              {% endif %}
                            <br/>
                            <label>
                              {% if item.persona.disc is True %}
                                <span class="badge bg-purple-soft text-purple">Tiene discapacidades físicas</span>
                              {% else %}
                                <span class="badge bg-purple-soft text-purple">No tiene discapacidades físicas</span>
                              {% endif %}
                            </label>
                            <br/>
                            <label>
                              {% if item.vacuna_covid is True %}
                                <span class="badge bg-yellow-soft text-yellow">Tiene vacuna contra COVID-19</span>
                              {% else %}
                                <span class="badge bg-yellos-soft text-yellow">No tiene vacuna contra COVID-19</span>
                              {% endif %}
                            </label>
                            <br/>
                            <label>
                              {% if item.estado is True %}
                                <span class="badge bg-green-soft text-green">Lider activo</span>
                              {% else %}
                                <span class="badge bg-red-soft text-red">Lider inactivo</span>
                              {% endif %}
                            </label>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <!--INFORMACIÓN ACADEMICA Y LABORAL-->
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-muted">Información de cargo</h2>
                          </div>
                          <div class="card-body d-flex">
                            <div class="flex-grow-1 ms-3">
                              <label><b>Programa al que pertenece dentro de CEIPA: </b>{{ item.programa_c }}</label>
                              <br/>
                              <label><b>Grupo organizado al que pertenece: </b>{{ item.grupo_orga }}</label>
                              <br/>
                              <label><b>Cargo que ocupa dentro del grupo organizado: </b>{{ item.cargo_grupo }}</label>
                              <br/>
                              <label><b>Periodo del cargo: </b>{{ item.periodo }}</label>
                              <br/>
                              <label><b>Fecha de inicio: </b>{{ item.fecha_inicio }}</label>
                              <br/>
                              <label><b>Fecha de finalización: </b>{{ item.fecha_fin }}</label>
                            </div>
                          </div>
                        </div>
                      <!--FIN INFORMACIÓN ACADEMICA Y LABORAL-->

                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'municipalizacion:lidercomuni_list' %}" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
                        </div>
                    </div>


      </div>
</div>
</div>
</div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });

</script>
<script >
  function eliminar(id){
  swal.fire({
    "titulo":"Esta seguro",
    "text":"esta accion no se puede deshacer",
    "icon":"question",
    "showCancelButton":true
  })
  }
</script>
{% endblock%}
