{% extends 'base/municipalizacion.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions d-flex bd-highlight">
      <div class="card-header">
          <h2 class="text-dark">Datos de {{ item.persona_maestro }} {{ item.persona_maestro.apellidos_persona }}</h2>
          <div class="p-2 bd-highlight">
            <a href="#" class="btn btn-sm btn-light text-primary" role="button"><i class="me-2" data-feather="printer"></i>PDF</a>
          </div>
      </div>
      <div class="card-body">
            <div class="row">
                  <div class="col-lg-12 col-xl-12 mb-12">
                    <div class="card">
                        <div class="card-header">
                          <h2 class="text-muted">Información personal</h2>
                        </div>
                        <div class="card-body d-flex">
                          <div class=flex-shrink-0">
                            <img class="rounded float-left" src="{{item.persona_maestro.foto_url|default_if_none:'ceipa/default.png'}}" height="200" weight="250">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <label><b>Nombre completo: </b>{{ item.persona_maestro }} {{ item.persona_maestro.apellidos_persona }}</label>
                            <br/>
                            <label><b>Género: </b>{{ item.persona_maestro.gen }}</label>
                            <br/>
                            <label><b>No. CUI: </b>{{ item.persona_maestro.cui }}</label>
                            <br/>
                            <label><b>Dirección domiciliar: </b>{{ item.persona_maestro.direccion_persona }}</label>
                            <br/>
                            <label><b>Correo electrónico: </b>{{ item.correo_maestro }}</label>
                            <label><b>Participación en grupo organizado: </b>
                              {% if item.Pargrupo is True %}
                                <label>Sí participa</label>
                                <br/>
                                <label><b>Grupo organizado en el que participa: </b>{{ item.gruporg }}</label>
                                <br/>
                                <label><b>Cargo que ocupa en el grupo: </b>{{ item.cargogrup }}</label>
                              {% else %}
                                <label>No participa en ningun grupo</label>
                              {% endif %}
                            </label>
                            <br/>
                            <label><b>No. Telefono: </b>{{ item.persona_maestro.telefono }}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><b>No. Telefono de casa: </b> {{ item.persona_maestro.telefonoc }}</label>
                            <br/>
                            <label><b>Municipio y departamento de origen: </b>{{ item.persona_maestro.muni }}, {{ item.persona_maestro.muni.dep }}</label>
                            <br/>
                            <label><b>Grupo étnico: </b>{{ item.persona_maestro.etni }}</label>
                            <br/>
                            <label><b>Idioma/s que habla: </b>
                              {% if not idioma_persona %}
                              <label>Ninguno</label>
                              {% else %}
                                {% for idioma in idioma_persona %}
                                  <label>{{ idioma.idioma.nombre_idioma }}, </label>
                                {% endfor %}
                              {% endif %}
                            </label>
                            <br/>
                            <label>
                              {% if item.persona_maestro.disc is True %}
                                <span class="badge bg-purple-soft text-purple">Tiene discapacidades físicas</span>
                              {% else %}
                                <span class="badge bg-purple-soft text-purple">No tiene discapacidades físicas</span>
                              {% endif %}
                            </label>
                            <br/>
                            <label>
                              {% if item.persona_maestro.estado_persona is True %}
                                <span class="badge bg-green-soft text-green">Participante activo</span>
                              {% else %}
                                <span class="badge bg-red-soft text-red">Participante inactivo</span>
                              {% endif %}
                            </label>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <!--INFORMACIÓN ACADEMICA Y LABORAL-->
                      <div class="card">
                          <div class="card-header">
                            <h2 class="text-muted">Información del establecimiento</h2>
                          </div>
                          <div class="card-body d-flex">
                            <div class="flex-grow-1 ms-3">
                              <label><b>Establecimiento: </b>{{ item.establecimiento }}</label>

                              <br/>
                              <label><b>Área del establecimiento: </b>
                                {% if item.area_rural is True %}
                                  <label> Rural</label>
                                {% elif item.area_urbana %}
                                  <label> Urbana</label>
                                {% else %}
                                    <label>No asignado</label>
                                {% endif %}
                              </label>
                              <br/>
                            <label><b>Tipo de establecimiento: </b></label>
                              <label>
                                {% if item.est_publico is True %}
                                  <label>Público</label>
                                {% elif item.est_privado %}
                                  <label>Privado</label>
                                {% else %}
                                  <label>No asignado</label>
                                {% endif %}
                              </label>
                            </div>
                          </div>
                        </div>
                      <!--FIN INFORMACIÓN ACADEMICA Y LABORAL-->
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'municipalizacion:maes_list' %}" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
                        </div>
                    </div>


      </div>
</div>
</div>
</div>
{% endblock %}

{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });

</script>
<script >
  function eliminar(id){
  swal.fire({
    "titulo":"Esta seguro",
    "text":"esta accion no se puede deshacer",
    "icon":"question",
    "showCancelButton":true
  })
  }
</script>
{% endblock%}
