{% extends 'base/municipalizacion.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-6 col-md-6 mb-6">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nuevo {% endif %} Partido Politico
                        </div>
                        <div class="dropdown-divider"></div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1">Nombre del Partido Politico</label>
                                <input type="text" name="nombre_partido" maxlength="50" class="form-control" required id="id_nombre_partido"
                                    placeholder="Escriba el Nombre Partido Politico" value="{% if obj %} {{ obj.nombre_partido }} {% endif %}">
                            </div>
                        </form>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="estado">Estado</label>
                                    <div class="form-check">
                                      <input class="form-check-input" name="estado" class="form-control" id="id_estado" type="checkbox"  {% if obj.estado is true%} checked {% endif %}>
                                    </div>
                                </div>
                            </div>
                            <!-- {{form.as_p}} -->
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <a href="{% url 'municipalizacion:partidopolitic_list' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
{% block js_page %}
{% endblock %}