{% extends 'base/municipalizacion.html' %}

{% block page_content %}
<div id="layoutSidenav_content">
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-6 col-md-6 mb-6">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nuevo {% endif %} Persona
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col-10">
                              <div class="input-group">
                                <input type="text" name="persona" maxlength="50" class="form-control" required id="id_persona"
                                placeholder="Nombre de la persona" value="{% if obj %} {{ obj.persona }} {% endif %}">
                              </div>
                              <div class="input-group">
                                <input type="text" name="apellidos_persona" maxlength="50" class="form-control" required id="id_apellidos_persona"
                                placeholder="Apellidos de la persona" value="{% if obj %} {{ obj.apellidos_persona }} {% endif %}">
                              </div>
                              <div class="input-group">
                                <input type="date" name="fecha_nacimiento" maxlength="250" class="form-control" required id="id_fecha_nacimiento"
                                placeholder="fecha de nacmiento de la persona" value="{% if obj %} {{ obj.fecha_nacimiento }} {% endif %}">
                              </div>
                              <div class="input-group">
                                <input type="number" name="cui" maxlength="50" class="form-control" required id="id_cui"
                                placeholder="numero de dpi" value="{% if obj %} {{ obj.cui }} {% endif %}">
                              <div class="input-group">
                                <input type="text" name="direccion_persona" maxlength="255" class="form-control" required id="id_direccion_persona"
                                placeholder="direccin" value="{% if obj %} {{ obj.direccion_persona }} {% endif %}">
                              </div>
                              <div class="input-group">
                                <input type="number" name="telefono" maxlength="8" class="form-control" required id="id_telefono"
                                placeholder="telefono" value="{% if obj %} {{ obj.telefono }} {% endif %}">
                              </div>
                              <div class="input-group">
                                <input type="number" name="telefonoc" maxlength="8" class="form-control" required id="id_telefonoc"
                                placeholder="telefono de casa" value="{% if obj %} {{ obj.telefonoc }} {% endif %}">
                              </div>
                              <div class="input-group">
                                <input type="file" name="fotografia" maxlength="255" class="form-control" required id="id_fotografia"
                                placeholder="Fotografia" value="{% if obj %} {{ obj.fotografia }} {% endif %}">
                              </div>
                              <div class="input-group">
                                  {{ form.muni }}
                              </div>
                              <div class="input-group">
                                  {{ form.etni }}
                              </div>
                              <div class="input-group">
                                  {{ form.estudios_anteriores }}
                              </div>
                              <div class="input-group">
                                  {{ form.gen }}
                              </div>
                              <div class="input-group">
                                  {{ form.disc }}
                              </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="id_estado_persona">Estado</label>
                                    <div class="form-check">
                                      <input class="form-check-input" name="estado_persona" class="form-control" id="id_estado_persona" type="checkbox"  {% if obj.estado_persona %} checked {% endif %}>
                                    </div>
                                </div>
                            </div>
                            <!-- {{form.as_p}} -->
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <a href="{% url 'municipalizacion:per_list' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
{% block js_page %}
{% endblock %}
