{% extends 'directorGeneral/base.html' %}
{% block page_content %}
<div id="layoutSidenav_content">
    <div class="card card-header-actions">
      <div class="card-header">
            Reportes de padres y madres de familia
        </div>
      <div class="card-body">
          <div class="row">
            <div class="card">
            <div class="card-body">
              <!--Totales-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Padres y madres de familia registrados</h5>
                        <p class="card-text">{{ total_padres }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Padres y madres de familia contra COVID-19</h5>
                        <p class="card-text">{{ total_padres_vacunados }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              <!--Fin totales-->
              <br/>
            <!--Inicio por genero-->
            {% if not padres_por_genero %}
              <div class="alert alert-info">Padres y madres de familia por género: No hay datos</div>
            {% else %}
            <caption><b>Total de padres y madres de familia por género</b></caption>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Género</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for gen_padres in padres_por_genero %}
                  <tr>
                    <td>{{ gen_padres.genero }}</td>
                    <td>{{ gen_padres.padres_genero }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <!--Fin por genero-->
            <br/>
            <!--Inicio por etnia-->
            {% if not padres_por_etnia %}
              <div class="alert alert-info">Padres y madres de familia por grupo étnico: No hay datos</div>
            {% else %}
            <caption><b>Total de padres y madres de familia por grupo étnico</b></caption>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Étnia</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for etnia_padres in padres_por_etnia %}
                  <tr>
                    <td>{{ etnia_padres.nombre_etnia }}</td>
                    <td>{{ etnia_padres.etnia_padres }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <!--Fin por etnia-->
            <br/>
            <!--Inicio por grupos organizados-->
            {% if not padres_por_grupo %}
              <div class="alert alert-info">Padres y madres de familia por grupo organizado: No hay datos</div>
            {% else %}
            <caption><b>Total de padres y madres de familia por grupo organizado</b></caption>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Grupo Organizado</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for grupo_padres in padres_por_grupo %}
                  <tr>
                    <td>{{ grupo_padres.nombre_grupo }}</td>
                    <td>{{ grupo_padres.padres_grupo }}</td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td><b>Total</b></td>
                  <td>{{part_padres_grupo }}</td>
                </tr>
              </tfoot>
            </table>
            {% endif %}
            <!--Fin por grupos organizados-->
            <br/>
            <!--Inicio leer y escribir-->
            <caption><b>Total de padres y madres de familia que saben leer y escribir</b></caption>
            <table class="table table-bordered">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>Sabe leer y escribir</td>
                  <td>{{leer_y_escribir}}</td>
                </tr>
                <tr>
                  <td>Sabe leer, no sabe escribir</td>
                  <td>{{solo_leer}}</td>
                </tr>
                <tr>
                  <td>No sabe escribir, no sabe leer</td>
                  <td>{{no_leer_no_escribir}}</td>
                </tr>
              </tbody>
            </table>
            <!--Fin leery escribir-->
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row">
            <div class="col">
                <a href="{% url 'app:home_director_general' %}" class="btn btn-outline-primary"><i class="fas fa-long-arrow-alt-left"></i></a>
            </div>
        </div>
          </div>
      </div>
      </div>
</div>
{% endblock %}
{% block js_page %}
<script>
    //LLamando al dataTables jQuery plugin
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock %}
